html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
*{
  margin: 0;
  padding: 0;
}

body {
  font-family: "Exo","Orbitron","Raleway","Montserrat","Source Sans 3";
}

.font-title{
  font-family: "Orbitron",sans-serif
}


